body  {
    border: 1px solid rgba(0, 0, 0, 0.664); 
    padding: 1px;
    color: whitesmoke;
    text-shadow: rgb(0, 0, 0) 1px .5px;
    text-align:center;
 }
 #title {
   background-color:green;
   border: 2px ridge darkgreen;
 }
 ol {
   text-align: left;
 }